.metadata
.settings
.classpath
gradle.log
.gradle
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
LICENSE-fml.txt
forge-*-changelog.txt
CREDITS-fml.txt
bin
build
.DS_Store
eclipse
libs